spring.application.name=
spring.datasource.username=
spring.datasource.password=
spring.datasource.url=
spring.datasource.driver-class-name=
# server.port=9000

spring.jpa.hibernate.ddl-auto=none
spring.jpa.generate-ddl=false
spring.jpa.properties.hibernate.jdbc.time_zone = UTC
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
